<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Passenger-form</title>
</head>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<body>
        <h1>Make a payment</h1>
        <hr/>

        <form th:action="@{/saveOrUpdatePayment(nr=${nrOfSeats}, flightId=${flightId})}" th:object="${payment}" method="post" >
            <div class="col-md-6 form-group">
                <strong>Duration:</strong>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" th:field="*{cardType}" id="option1" value="Credit Card">
                    <label class="form-check-label" for="option1">Credit Card</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" th:field="*{cardType}" id="option2" value="PayPal">
                    <label class="form-check-label" for="option2">PayPal</label>
                </div>
            </div>
            <br><br>

            <input type="text" placeholder="Enter card number " th:field="*{cardNumber}"/>
            <span th:if="${#fields.hasErrors('cardNumber')}" th:errors="*{cardNumber}"></span>
            <br/><br/>
            <input type="text" placeholder="Enter expiration date " th:field="*{expirationDate}"/>
            <span th:if="${#fields.hasErrors('expirationDate')}" th:errors="*{expirationDate}"></span>
            <br/><br/>
            <input type="text" placeholder="Enter cvc " th:field="*{cvc}"/>
            <span th:if="${#fields.hasErrors('cvc')}" th:errors="*{cvc}"></span>
            <br/><br/>
            <button type ="submit"> Submit order</button>
        </form>

</body>
</html>