<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Seat Reservation</title>
</head>
<body>
      <h1>Reserve Seat</h1>
      <hr/>
      <form th:action="@{/saveOrUpdateReservation(nr=${nrOfSeats}, flightId=${flightId})}"  method="post">
        <input type="text" placeholder="No. of seats" th:name="nrOfSeats"/>

          <input type="submit"/> <br><br>
      </form>
      <div>
        <a th:href="@{/flights}">Back to Flights</a>
      </div>

</body>
</html>